.login-form {
    display: flex;
    flex-direction: column;

}

.login-form form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.login-error {
    background-color: #ffc6c6;
    color: #540e0e;
    border: 1px solid #c99f9f;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

form input, button {
    width: 100%;
    margin:10px 0px;
}

form button {
    background-color: var(--color-orange);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: 0px;
    width: 200px;
}