.footer {
    width:100%;

    background-color: #444444;
    color: white;
    padding:40px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap:50px;
    flex-wrap: wrap;

}

.footer h2 {
    margin-top:5px;
    margin-bottom: 0px;
    width: 100%;
}

.footer ul {
    list-style: none;
    margin-top: 0px;
}

.footer ul li {
    margin-bottom: 5px;
}

.footer ul li:first-child {
    font-weight: bold;
    margin-bottom: 15px;
    color:var(--color-blue);
}

@media only screen and (max-width: 800px) {
    .footer {
        flex-direction: column;
    }
}