@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

:root {
  --color-orange:#F06449;
  --color-green:#44AF69;
  --color-yellow:#FCAB10;
  --color-white:#DBD5b5;
  --color-dark-grey:#717171;
  --color-blue:#5BC3EB;
  --color-dark-blue:#2c8fde;
  --color-red:#BF1616;
}


* {
  box-sizing: border-box;
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Maven Pro', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


#root > footer {
  width: 100%;
}



.content-wrapper {
  width: 100%;
  max-width: 800px;
}



.App {
  text-align: center;
}


input {
  padding:15px;
  border-radius:5px;
  border:1px solid #bbbbbb;
}

button {
  padding: 15px;
  border-radius: 5px;
  border:1px solid #bbb;
  margin:5px;
  cursor: pointerf;
}

label {
  padding:5px;
}



