.flight-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.flight {
    width: 100%;
    display:flex ;
    justify-content: space-between;
}

.flight-number-refresh {
    display: flex;
    flex-direction: column;
    position: relative;
}

.refresh-button {
    background-color: var(--color-blue);
    color:white;
    font-weight: bold;
    border:0px
}
h2 {
    font-size: 32px;
    margin-bottom: 0px;
    font-weight: normal;
}

.airline {
    font-size: 50px;
}

.ac-model {
    font-size: 24px;
}

.no-flight-error {
    padding:180px 0px;
    background:#F9FDFF;
    border:1px solid #D4F3FF;
    padding:40px;
    border-radius: 15px;
    margin:50px;

}

@media only screen and (max-width: 800px) {
    .flight-data .flight {
        flex-direction: column;
        align-items: center;
    }
}