.flight-data {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;


    width: 100%;


}

.flight {
    background-color:;
    width: 100%;
    display:flex ;
    justify-content: space-between;

}